{% extends 'layout.html.twig' %}

{% block main %}
    <h1 class="h3 mb-3 font-weight-normal">Add your idea !</h1>
    {{ form_start(ideaForm) }}
    <div class="form-group">
        {{ form_label(ideaForm.title) }}
        {{ form_widget(ideaForm.title) }}
        {{ form_errors(ideaForm.title) }}
    </div>
    <div class="form-group">
        {{ form_label(ideaForm.description) }}
        {{ form_widget(ideaForm.description) }}
        {{ form_errors(ideaForm.description) }}
    </div>
    <div class="form-group">
        {{ form_label(ideaForm.author) }}
        {{ form_widget(ideaForm.author) }}
        {{ form_errors(ideaForm.author) }}
    </div>
    <div class="form-group">
        {{ form_label(ideaForm.category) }}
        {{ form_widget(ideaForm.category) }}
        {{ form_errors(ideaForm.category) }}
    </div>

    <button type="submit" class="btn btn-primary mb-2 btn-custom">Add !</button>
    {{ form_end(ideaForm) }}
{% endblock %}

{% block title %}{{ parent() }} | Add an Idea{% endblock %}